APP_NAME=ai_auth
APP_ENV=dev
APP_PORT=8787

DB_DRIVER=mysql
DB_HOST=0.0.0.0
DB_PORT=13306
DB_DATABASE=ai_auth
DB_USERNAME=root
DB_PASSWORD=mysql
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

JWT_SECRET=IikK0I6LuPQg3vphKKTnIG9WtgYqPpRo7EN3ZsWUePi3VUDDhjSTBgJWPH6BCP3F

QINIU_DOMAIN_URL=https://newmedia.hesiling.com/
BASE_IMG=https://newmedia.hesiling.com/1px.png
QINIU_ACCESS_KEY=pJK-MXOXVKR30P1oEQLPZzuB2gmOsGBLwnLaTgZX
QINIU_SECRET_KEY=IQjE3BfZgOAzTXm1zp9PR78rnQjwfuDWpupNHl3l
QINIU_BUCKET=hsl-test
QINIU_DOMAIN=https://newmedia.hesiling.com
QINIU_VIDEO_IMAGE_PIPELINE=hsl-test-video-image
